/* Custom css here */

.console-out {
    overflow: auto;
}

textarea.code {
    font-family: monospace;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.editInPlace.viewing {
    cursor: pointer;
}

.inverted.menu .item .editInPlace.editing input {
    color: black;
}

.full-height {
    height: 100% !important;
    max-height: 100% !important;
}

#editor {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}